@layer components {
  .button {
    @apply transition duration-300 border shadow-sm inline-flex items-center justify-center py-2 px-6 rounded-md cursor-pointer;

    &:hover {
      @apply bg-opacity-80 border-opacity-75;
    }
    &:focus {
      @apply outline-none ring;
    }
    &:not(button) {
      @apply text-center;
    }
  }

  .button-dark {
    @apply text-gray-100;
  }
  // Default Sizes
  .button-sm {
    @apply text-xs py-1.5 px-3;
  }

  .button-lg {
    @apply text-lg py-1.5 px-4;
  }
  
  // Button Elevated
  .button-elevated {
    @apply shadow-md;
  }

  // Button Rounded
  .button-rounded {
    @apply rounded-full;
  }

  .button-edged {
    @apply rounded-none;
  }



}
